/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Footer  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

footer {
	background-color: $color-light;

	& > .wrap {
		min-height: $footer-height;

		& > .col {
			color: $color-lightest;

			a {
				color: $color-lightest;
				
				&:hover {
					color: $color-darkest;
				}

			}
		}
	}

}