/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  Footer  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

footer {
	background-color: gray;

	& > .wrap {
		min-height: $footer-height;

		& > .col {
			color: white;
		}
	}

}