/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- General Settings ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: $bg-color;
}


body {
	color: $text-color;
	font: $text-font;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	* {
		outline: none;
		box-sizing: border-box;
	}

}

.container {
	max-width: $container-width;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;

	&:hover {
		color: $color-light;
	}
}

p {
	color: $text-color;
	font: $text-font;
}

.button,
button,
input[type="submit"],
input[type="reset"] {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font: $button-font;

	min-height: $finger-size;
	padding: 0 20px;
	
	background-color: $button-bg-color;
	color: $button-text-color;

	border: $button-border-width solid $button-border-color;
	border-radius: $button-border-radius;

	&:hover {
		background-color: $color-light;
		color: $bg-color;
	}

	&.full {
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
	min-height: $finger-size;
	padding: 5px 10px;

	font: $input-font;
	
	background-color: $input-bg-color;
	color: $input-text-color;

	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;

	&::placeholder {
		color: $color-light;
	}

	&.full {
		width: 100%;
	}
}

textarea {
	height: auto;
}

h1, .h1-size,
h2, .h2-size,
h3, .h3-size,
h4, .h4-size,
h5, .h5-size,
h6, .h6-size {
	color: $title-color;
	font: $title-font;
}

h2, .h2-size {
	font-size: #{$title-font-size * 0.9};
	line-height: normal;
	font-weight: normal;
}

h3, .h3-size {
	font-size: #{$title-font-size * 0.8};
	line-height: normal;
	font-weight: normal;
}

h4, .h4-size {
	font-size: #{$title-font-size * 0.7};
	line-height: normal;
	font-weight: normal;
}

h5, .h5-size {
	font-size: #{$title-font-size * 0.6};
	line-height: normal;
	font-weight: normal;
}

h6, .h6-size {
	font-size: #{$title-font-size * 0.5};
	line-height: normal;
	font-weight: normal;
}

figure {
	margin: 0;

	& > img {
		max-width: 100%;
	}

}

main {
	min-height: calc(100vh - #{$header-height + $footer-height});

	& > section {
		min-height: 400px;
		//min-height: calc(100vh - #{$header-height + $footer-height}); // Use this if all the section heights are the same as window height

		ul {

			& > li {
				color: $text-color;
				font: $text-font;
			}

		}

	}

}