/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- General Settings ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: $bg-color;
}


body {
	color: $text-color;
	font: $text-font;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	
	&.no-scroll {
		overflow: hidden;
	}

	* {
		outline: none;
		box-sizing: border-box;
	}

}

#page {
	overflow-x: hidden;
}

.container {
	max-width: $container-width;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;

	&:hover {
		color: $color-light;
	}
}

p {
	color: $text-color;
	font: $text-font;
}

.button,
button,
input[type="submit"],
input[type="reset"] {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;

	font: $button-font;

	min-height: $finger-size;
	max-width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;

	border: $button-border-width solid $button-border-color;
	border-radius: $button-border-radius;
	
	background-color: $button-bg-color;
	color: $button-text-color;

	&:hover {
		background-color: $color-light;
		color: $bg-color;
	}

	&.full {
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	min-height: $finger-size;
	max-width: 100%;
	padding: 5px 10px;
	margin-bottom: 10px;

	font: $input-font;

	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	
	background-color: $input-bg-color;
	color: $input-text-color;

	&::placeholder {
		color: $color-light;
	}

	&.large {
		font-size: $font-size-largest;
		padding: 10px 20px;
	}

	&.full {
		width: 100%;
	}

}

textarea {
	height: auto;
}

select {
	cursor: pointer;
}

.disabled,
[disabled] {
	opacity: 0.5;
	pointer-events: none;
	user-select: none;
	cursor: not-allowed;
}

h1, .h1-size,
h2, .h2-size,
h3, .h3-size,
h4, .h4-size,
h5, .h5-size,
h6, .h6-size {
	color: $title-color;
	font: $title-font;
}

h2, .h2-size {
	font-size: #{$title-font-size * 0.9};
	line-height: normal;
	font-weight: bold;
}

h3, .h3-size {
	font-size: #{$title-font-size * 0.8};
	line-height: normal;
	font-weight: normal;
}

h4, .h4-size {
	font-size: #{$title-font-size * 0.7};
	line-height: normal;
	font-weight: normal;
}

h5, .h5-size {
	font-size: #{$title-font-size * 0.6};
	line-height: normal;
	font-weight: normal;
}

h6, .h6-size {
	font-size: #{$title-font-size * 0.5};
	line-height: normal;
	font-weight: normal;
}

figure {
	margin: 0;

	& > img {
		max-width: 100%;
	}

}

main {
	min-height: calc(100vh - #{$header-height + $footer-height});

	& > section {
		min-height: 400px;
		//min-height: calc(100vh - #{$header-height + $footer-height}); // Use this if all the section heights are the same as window height

		ul {

			& > li {
				color: $text-color;
				font: $text-font;
			}

		}

	}

}

.text {

	&-color {

		&-dark {
			color: $color-dark;
		}

		&-darker {
			color: $color-darker;
		}

		&-darkest {
			color: $color-darkest;
		}

		&-light {
			color: $color-light;
		}

		&-lighter {
			color: $color-lighter;
		}

		&-lightest {
			color: $color-lightest;
		}

	}

	&-transform {

		&-capitalize {
			text-transform: capitalize;
		}

		&-uppercase {
			text-transform: uppercase;
		}

	}

}

.font {

	&-primary {
		font-family: $primary-font-family;
	}

	&-secondary {
		font-family: $secondary-font-family;
	}

	&-size {

		&-smaller {
			font-size: $font-size-smaller;
		}

		&-small {
			font-size: $font-size-small;
		}

		&-large {
			font-size: $font-size-large;
		}

		&-larger {
			font-size: $font-size-larger;
		}

		&-largest {
			font-size: $font-size-largest;
		}

	}

}

.popup {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparentize($color-darkest, 0.5);

	opacity: 0;
	pointer-events: none;
	transition: 500ms;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	& > .wrap {
		max-height: 90vh;
		overflow-y: auto;
		background-color: $color-lightest;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 20px;

		& > a {
			text-decoration: none;
			font-size: 50px;
			line-height: 50px;
			color: $color-lightest;
		}
	}

}

.video-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;

	& > video {
		max-width: 100%;
		display: block;
		height: auto;
		cursor: pointer;
		transition: 500ms;

		&.fill {
			width: 100%;
			object-fit: cover;
		}
	}

	& > .video-content,
	& > .video-text,
	& > .play-button,
	& > .pause-button {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 500ms;

		&.video-content {
			top: 0;
			left: 0;
			width: 100%;
			transform: none;
		}

		&.play-button,
		&.pause-button {
			background-color: $color-lightest;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}

	& > .pause-button {
		opacity: 0;
		pointer-events: none;
	}

	&.full {
		width: 100%;

		& > video {
			width: 100%;
		}
	}

	&.bg-video {

		& > video {
			width: 100%;
			object-fit: cover;
			cursor: default;
		}
	}

	&:not(.playing):not(.bg-video) {

		& > video[autoplay][muted] {
			opacity: 0.6;
		}

	}

	&.playing {

		& > .play-button {
			opacity: 0;
			pointer-events: none;
		}

		&:hover > .pause-button {
			opacity: 1;
			pointer-events: all;
		}

	}
}

.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
	word-wrap: normal !important;
}