/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  Header  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

header {
	background-color: black;

	& > .wrap {
		min-height: $header-height;

		& > .col {
			color: white;
		}
	}

}