/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  General Settings  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

html {
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: $color-bg;
}


body {
	font-family: $primary-font-family;
	font-size: $font-size;
	color: $color-primary;

	* {
		//outline: none;
	}
}