/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  General Settings  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

html {
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: $bg-color;
}


body {
	color: $text-color;
	font-family: $text-font-family;
	font-size: $text-font-size;
	font-weight: $text-font-weight;
	line-height: $text-line-height;

	* {
		outline: none;
		box-sizing: border-box;
	}
}

a {
	color: inherit;
}

h1, .h1-size,
h2, .h2-size,
h3, .h3-size,
h4, .h4-size,
h5, .h5-size,
h6, .h6-size {
	color: $title-color;
	font-family: $title-font-family;
	font-size: $title-font-size;
	font-weight: $title-font-weight;
	line-height: $title-line-height;
}

.container {
	max-width: $container-width;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

main {

	section {
		min-height: 500px;
	}

}